﻿@model PublicTransport.MVC.Models.Employee

<h2>Employee editor. </h2>

@using (Html.BeginForm("Edit", "Employees"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EmployeeId)
    @Html.HiddenFor(m => m.DateOfBirth)
    @Html.HiddenFor(m => m.HireDate)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Type)</div>
    <div class="editor-field">@Html.DropDownListFor(m => m.Type, new SelectList(Enum.GetNames(typeof(JobType))))</div>

    <div class="editor-label">@Html.LabelFor(m => m.Wage)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Wage)</div>

    <input type="submit" value="SEND" />
}