﻿@model IEnumerable<PublicTransport.MVC.Models.Employee>

<h2>Empolyees List</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database. </p>
}
else
{
<table border="1">
    <tr>
        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().EmployeeId)</th>
        <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Name)</th>
        <th>Datasheet</th>
        <th>Delete</th>
        <th>Modify</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@Html.DisplayFor(m => item.EmployeeId)</th>
            <th>@Html.DisplayFor(m => item.Name)</th>
            <th>@Html.ActionLink("[SHOW]", "Details", new { Id = item.EmployeeId })</th>
            <th>@Html.ActionLink("[DEL]", "Remove", new { Id = item.EmployeeId })</th>
            <th>@Html.ActionLink("[EDIT]", "Edit", new { Id = item.EmployeeId })</th>
        </tr>
    }
</table>
}