﻿@model PublicTransport.MVC.Models.EmployeeListViewModel

@{
    ViewData["Title"] = "Employees Index";
}

<h2> Employees Index </h2>

<p style="color:red">@TempData["editResult"]</p>

@if (Model.EditedEmployee.EmployeeId == null)
{
    @await Html.PartialAsync("EmployeesNew", Model.EditedEmployee);
}
else
{
    @await Html.PartialAsync("EmployeesEdit", Model.EditedEmployee);
}
@await Html.PartialAsync("EmployeesList", Model.Employees)