﻿@model PublicTransport.MVC.Models.Employee

@{
    ViewData["Title"] = "EmployeesDetails";

}

<h2>Datasheet of an employee. </h2>

@Html.ActionLink("Back to the list of employees.", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.EmployeeId)</td>
        <td>@Html.DisplayFor(m => m.EmployeeId)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Type)</td>
        <td>@Html.DisplayFor(m => m.Type)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Wage)</td>
        <td>@Html.DisplayFor(m => m.Wage)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.DateOfBirth)</td>
        <td>@Html.DisplayFor(m => m.DateOfBirth)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.HireDate)</td>
        <td>@Html.DisplayFor(m => m.HireDate)</td>
    </tr>
</table>
